# Secrets
.env
*.pem
*.key
credentials
credentials.*
secrets.*

# Grafana database
*.db

# Python
__pycache__/
*.pyc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
